In [4]:
import pandas as pd

In [3]:
pip install pandas

Collecting pandas
  Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl.metadata (19 kB)
Requirement already satisfied: numpy>=1.22.4 in c:\users\sweta\anaconda3\lib\site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sweta\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\sweta\anaconda3\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.1-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\sweta\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp310-cp310-win_amd64.whl (11.6 MB)
   ---------------------------------------- 0.0/11.6 MB ? eta -:--:--
   --------- ------------------------------ 2.6/11.6 MB 16.7 MB/s eta 0:00:01
   --------------------- ------------------ 6.3/11.6 MB 16.8 MB/s eta 0:00:01
   ---------------------------- ----------- 8.4/11.6 MB 15.7 MB/s eta 0:00:01
   ------------------------------ --------- 8.9/11.6 MB 11.3 MB/s eta 0:00:01
   ------------------------------------- -- 10.7/11.6 MB 10.3 MB/s eta 0:00:01
   -------------------------------------- - 11.3/11.6 MB 9.4 MB/s eta 0:00:01
   ---------------------------------------- 11.6/11.6 MB 8.5 MB/s eta 0:00:00
Downloading tzdata-2025.1-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.2.3 tzdata-2025.1
Note: you may need to restart the kernel to use updated packages.

In [5]:
df = pd.read_csv(r'C:\Users\sweta\Downloads\Dataset\yellow_tripdata_2015-01.csv\yellow_tripdata_2015-01.csv')

In [6]:
print(df.head())
print(df.info())

   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42                1
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28                1
2         1  2015-01-10 20:33:38   2015-01-10 20:43:41                1
3         1  2015-01-10 20:33:39   2015-01-10 20:35:31                1
4         1  2015-01-10 20:33:39   2015-01-10 20:52:58                1

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.59        -73.993896        40.750111           1
1           3.30        -74.001648        40.724243           1
2           1.80        -73.963341        40.802788           1
3           0.50        -74.009087        40.713818           1
4           3.00        -73.971176        40.762428           1

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974785         40.750618             1
1                  N         -73.994415         40.759109             1
2                  N         -73.951820         40.824413             2
3                  N         -74.004326         40.719986             2
4                  N         -74.004181         40.742653             2

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         12.0    1.0      0.5        3.25           0.0
1         14.5    0.5      0.5        2.00           0.0
2          9.5    0.5      0.5        0.00           0.0
3          3.5    0.5      0.5        0.00           0.0
4         15.0    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.05
1                    0.3         17.80
2                    0.3         10.80
3                    0.3          4.80
4                    0.3         16.30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12748986 entries, 0 to 12748985
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   object
 2   tpep_dropoff_datetime  object
 3   passenger_count        int64
 4   trip_distance          float64
 5   pickup_longitude       float64
 6   pickup_latitude        float64
 7   RateCodeID             int64
 8   store_and_fwd_flag     object
 9   dropoff_longitude      float64
 10  dropoff_latitude       float64
 11  payment_type           int64
 12  fare_amount            float64
 13  extra                  float64
 14  mta_tax                float64
 15  tip_amount             float64
 16  tolls_amount           float64
 17  improvement_surcharge  float64
 18  total_amount           float64
dtypes: float64(12), int64(4), object(3)
memory usage: 1.8+ GB
None

In [7]:
df.dropna(inplace=True)

In [8]:
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

In [9]:
print("Average fare amount: ", df['fare_amount'].mean())
print("Max fare amount: ", df['fare_amount'].max())

Average fare amount:  11.905658344669535
Max fare amount:  4008.0

In [10]:
high_fares = df[df['fare_amount'] > 50]
print(high_fares.head())

    VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
8          1  2015-01-10 20:33:39   2015-01-10 21:11:35                3
27         2  2015-01-15 19:05:42   2015-01-15 19:49:07                1
31         2  2015-01-15 19:05:43   2015-01-15 19:05:44                2
37         1  2015-01-10 19:12:21   2015-01-10 19:46:08                1
83         2  2015-01-15 14:00:43   2015-01-15 14:58:40                1

    trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
8           18.20        -73.783043        40.644356           2
27          18.06        -73.786575        40.644127           2
31           0.01          0.000000         0.000000           5
37          16.40        -73.977097        40.763172           2
83          15.20        -73.801262        40.667728           2

   store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
8                   N         -73.987595         40.759357             2
27                  N         -73.985603         40.743530             1
31                  N           0.000000          0.000000             1
37                  N         -73.790710         40.644276             1
83                  N         -73.993355         40.756001             1

    fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
8          52.0    0.0      0.5        0.00          5.33
27         52.0    0.0      0.5        6.00          5.33
31         60.0    0.0      0.0        0.00          0.00
37         52.0    0.0      0.5       10.00          0.00
83         52.0    0.0      0.5       14.33          5.33

    improvement_surcharge  total_amount
8                     0.3         58.13
27                    0.3         64.13
31                    0.3         60.30
37                    0.3         62.80
83                    0.3         72.46

In [11]:
df.to_csv('nyc_taxi_fare_cleaned.csv', index=False)

In [12]:
import os


print("Current Directory:", os.getcwd())

Current Directory: C:\Users\sweta\Shweta\Shweta1

In [13]:
pip install pyspark

Requirement already satisfied: pyspark in c:\users\sweta\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\sweta\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from pyspark.sql import SparkSession

In [15]:
spark = SparkSession.builder.appName("NYC_Taxi_Fare").getOrCreate()

In [16]:
df = spark.read.csv(r'C:\Users\sweta\Downloads\Dataset\yellow_tripdata_2015-01.csv\yellow_tripdata_2015-01.csv', header=True, inferSchema=True)

In [17]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp (nullable = true)
 |-- tpep_dropoff_datetime: timestamp (nullable = true)
 |-- passenger_count: integer (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- pickup_longitude: double (nullable = true)
 |-- pickup_latitude: double (nullable = true)
 |-- RateCodeID: integer (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- dropoff_longitude: double (nullable = true)
 |-- dropoff_latitude: double (nullable = true)
 |-- payment_type: integer (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)

In [18]:
df.select("fare_amount").describe().show()

+-------+------------------+
|summary|       fare_amount|
+-------+------------------+
|  count|          12748986|
|   mean|11.905659425776989|
| stddev|10.302537135952232|
|    min|            -450.0|
|    max|            4008.0|
+-------+------------------+

In [19]:
df_filtered = df.filter(df.fare_amount > 50)
df_filtered.show()

+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|  pickup_longitude|   pickup_latitude|RateCodeID|store_and_fwd_flag| dropoff_longitude|  dropoff_latitude|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
|       1| 2015-01-10 20:33:39|  2015-01-10 21:11:35|              3|         18.2|-73.78304290771484| 40.64435577392578|         2|                 N|-73.98759460449219| 40.75935745239258|           2|       52.0|  0.0|    0.5|       0.0|        5.33|                  0.3|       58.13|
|       2| 2015-01-15 19:05:42|  2015-01-15 19:49:07|              1|        18.06|-73.78657531738281|40.644126892089844|         2|                 N|-73.98560333251953|  40.7435302734375|           1|       52.0|  0.0|    0.5|       6.0|        5.33|                  0.3|       64.13|
|       2| 2015-01-15 19:05:43|  2015-01-15 19:05:44|              2|         0.01|               0.0|               0.0|         5|                 N|               0.0|               0.0|           1|       60.0|  0.0|    0.0|       0.0|         0.0|                  0.3|        60.3|
|       1| 2015-01-10 19:12:21|  2015-01-10 19:46:08|              1|         16.4|-73.97709655761719|  40.7631721496582|         2|                 N|-73.79071044921875|  40.6442756652832|           1|       52.0|  0.0|    0.5|      10.0|         0.0|                  0.3|        62.8|
|       2| 2015-01-15 14:00:43|  2015-01-15 14:58:40|              1|         15.2|-73.80126190185547|40.667728424072266|         2|                 N|-73.99335479736328| 40.75600051879883|           1|       52.0|  0.0|    0.5|     14.33|        5.33|                  0.3|       72.46|
|       1| 2015-01-26 12:41:21|  2015-01-26 13:03:26|              2|         16.3| -73.9983901977539|40.761680603027344|         3|                 N|-74.17723846435547| 40.69504165649414|           1|       60.5|  0.0|    0.0|      15.3|       15.75|                  0.3|       91.85|
|       1| 2015-01-15 10:26:16|  2015-01-15 10:26:42|              2|          0.0|-73.98765563964844| 40.74364471435547|         5|                 N|-73.98748779296875| 40.74348449707031|           1|       60.0|  0.0|    0.0|      15.0|         0.0|                  0.3|        75.3|
|       1| 2015-01-20 23:08:16|  2015-01-20 23:35:12|              1|         20.1|-73.78956604003906| 40.64350509643555|         1|                 N|-74.02220153808594| 40.61720275878906|           2|       54.0|  0.5|    0.5|       0.0|         0.0|                  0.3|        55.3|
|       2| 2015-01-06 10:02:20|  2015-01-06 10:47:51|              1|         19.7|-74.01023864746094|40.710723876953125|         1|                 N|-73.82711791992188| 40.87989807128906|           2|       56.0|  0.0|    0.5|       0.0|         0.0|                  0.3|        56.8|
|       2| 2015-01-01 05:29:50|  2015-01-01 05:54:13|              1|        17.46|-73.98296356201172|40.757415771484375|         3|                 N|-74.17719268798828|  40.6950569152832|           1|       64.0|  0.5|    0.0|       1.0|        16.0|                  0.3|        81.8|
|       1| 2015-01-28 10:50:01|  2015-01-28 11:28:06|              3|         17.5|-73.78255462646484|  40.6445198059082|         2|                 N|-73.98393249511719|  40.7551155090332|           2|       52.0|  0.0|    0.5|       0.0|        5.33|                  0.3|       58.13|
|       1| 2015-01-04 13:44:55|  2015-01-04 14:16:21|              1|         18.1|-73.99667358398438|40.732364654541016|         2|                 N|-73.78376770019531| 40.64366149902344|           1|       52.0|  0.0|    0.5|     13.12|         0.0|                  0.0|       65.92|
|       2| 2015-01-13 00:09:33|  2015-01-13 00:31:09|              2|        16.76|-73.79154968261719|  40.6454963684082|         2|                 N| -73.9756851196289|   40.752197265625|           1|       52.0|  0.0|    0.5|     11.47|        5.33|                  0.3|        69.6|
|       2| 2015-01-13 00:09:39|  2015-01-13 01:03:11|              1|        28.66|-73.99616241455078|40.725425720214844|         4|                 N|-73.80000305175781|40.964561462402344|           2|       83.5|  0.5|    0.5|       0.0|        2.44|                  0.3|       87.24|
|       2| 2015-01-02 19:09:23|  2015-01-02 19:16:34|              1|         1.29|-73.99647521972656| 40.71571350097656|         5|                 N|-74.00939178466797| 40.70545196533203|           1|       58.0|  0.0|    0.5|      11.6|         0.0|                  0.3|        70.4|
|       2| 2015-01-25 17:45:15|  2015-01-25 17:45:21|              1|          0.0|-73.97565460205078| 40.76131820678711|         2|                 N|               0.0|               0.0|           1|       52.0|  0.0|    0.5|      20.0|         0.0|                  0.3|        72.8|
|       2| 2015-01-23 09:45:36|  2015-01-23 10:20:37|              1|        18.06|-73.97798156738281| 40.76349639892578|         3|                 N|-74.17701721191406|40.694862365722656|           1|       68.0|  0.0|    0.0|     16.44|        13.9|                  0.3|       98.64|
|       2| 2015-01-03 08:58:45|  2015-01-03 09:29:18|              1|        18.41| -73.7894287109375| 40.64365005493164|         2|                 N|   -73.98486328125|40.760860443115234|           2|       52.0|  0.0|    0.5|       0.0|        5.33|                  0.3|       58.13|
|       1| 2015-01-17 23:39:51|  2015-01-18 00:41:03|              1|         19.9|-73.78266143798828| 40.64444351196289|         2|                 N|-74.00721740722656|40.706642150878906|           1|       52.0|  0.0|    0.5|     10.56|         0.0|                  0.3|       63.36|
|       1| 2015-01-21 00:53:08|  2015-01-21 01:27:26|              2|         18.4|-74.00980377197266| 40.70989990234375|         1|                 N|-73.85294342041016|  40.7896614074707|           1|       51.0|  0.5|    0.5|       9.5|        5.33|                  0.3|       67.13|
+--------+--------------------+---------------------+---------------+-------------+------------------+------------------+----------+------------------+------------------+------------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+
only showing top 20 rows

In [20]:
# df_filtered.write.csv('nyc_taxi_fare_filtered.csv', header=True,mode='overwrite')
df_filtered.write.csv('nyc_taxi_fare_filtered.csv', header=True, mode='overwrite')

In [21]:
df_filtered.write.csv('C:\\Users\\sweta\\Downloads\\Dataset\\nyc_taxi_fare_filtered.csv', header=True, mode='overwrite')

In [22]:
# CREATE TABLE nyc_taxi_fare (
#     vendor_id INT,
#     pickup_datetime TIMESTAMP,
#     dropoff_datetime TIMESTAMP,
#     passenger_count INT,
#     trip_distance FLOAT,
#     fare_amount FLOAT
# );

SyntaxError: invalid syntax (2664340596.py, line 1)

In [23]:
import pyspark
print(pyspark.__version__)

3.5.4

In [29]:
import mysql.connector


conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="Saislata@2024",
    database="dissertation_project"
)
cursor = conn.cursor()


create_table_query = """
CREATE TABLE nyc_taxi_fare (
    id INT AUTO_INCREMENT PRIMARY KEY,
    pickup_datetime DATETIME,
    dropoff_datetime DATETIME,
    passenger_count INT,
    pickup_longitude FLOAT,
    pickup_latitude FLOAT,
    dropoff_longitude FLOAT,
    dropoff_latitude FLOAT,
    fare_amount FLOAT
);
"""

cursor.execute(create_table_query)
conn.commit()
conn.close()

In [25]:
pip install mysql-connector-python

Collecting mysql-connector-pythonNote: you may need to restart the kernel to use updated packages.

  Downloading mysql_connector_python-9.2.0-cp310-cp310-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp310-cp310-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
   ----------- ---------------------------- 4.5/16.1 MB 22.4 MB/s eta 0:00:01
   ----------------- ---------------------- 7.1/16.1 MB 18.2 MB/s eta 0:00:01
   ------------------- -------------------- 7.9/16.1 MB 13.9 MB/s eta 0:00:01
   -------------------- ------------------- 8.1/16.1 MB 10.5 MB/s eta 0:00:01
   -------------------- ------------------- 8.4/16.1 MB 8.3 MB/s eta 0:00:01
   ---------------------- ----------------- 8.9/16.1 MB 7.0 MB/s eta 0:00:02
   ----------------------- ---------------- 9.4/16.1 MB 6.4 MB/s eta 0:00:02
   ------------------------- -------------- 10.2/16.1 MB 6.0 MB/s eta 0:00:01
   ---------------------------- ----------- 11.5/16.1 MB 5.9 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.1 MB 5.9 MB/s eta 0:00:01
   ----------------------------------- ---- 14.4/16.1 MB 6.1 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 6.4 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 5.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [26]:
import mysql.connector
print("MySQL Connector imported successfully!")

MySQL Connector imported successfully!